@model RequestCountVM;
@{
    ViewData["Title"] = "Pending Index";
}
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor;
@using HrMan.Utility;
@using System.Security.Claims;

<h3 class="text-center mb-3">Pending Employee Request</h3>

<section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.LeaveRequests)
            {
                @if (item.RequestingEmployee != null)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-blog-item mb-100">
                            <!-- Blog Content -->
                            <div id="virtual-consult-text" class="blog-content">
                                <center>
                                    <h3>STEP 1</h3>
                                    <p>Upload one full-face picture showing your smile.</p>
                                </center>
                            </div>
                            <img class="img-fluid " style="max-width:200px;" src="@Url.Content(item.RequestingEmployee.ImageUrl)" alt="User profile picture">


                            <h3 class="profile-username text-center mt-4">
                                @item.RequestingEmployee.Lastname @item.RequestingEmployee.Firstname
                            </h3>
                            @if (@HttpContextAccessor.HttpContext.User.FindFirstValue(ClaimTypes.Role).Equals(Helper.SuperVisor))

                            {
                                <p class="text-muted text-center">@item.RequestingEmployee.Role</p>

                            }
                        </div>
                    </div>
                }
                <!-- Single Blog Item -->
            }

            </div>
    </div>
</section>
 
